.form {
    width: 80%;
    text-align: left;
}

.label {
    display: block;
    font-weight: 600;
}

.input {
    display: block;
    padding: 10px;
    border-radius: 3px;
    width: 70%;
    margin-bottom: 20px;
}

.select {
    display: block;
    padding: 10px;
    border-radius: 3px;
    width: 77%;
    margin-bottom: 20px;
}